modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 46197912
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
