modules = ["nodejs-20", "web", "python-3.12"]
run = "python undefined"
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 46197912
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Start ML API Server"
author = 46823921
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/NeuroNix-Dashboard && python ml_api.py"

[deployment]
run = ["sh", "-c", "python undefined"]
